body{
    font-size: 16px;
    overflow-x: hidden;
}
:root{
    --btn:#eb9393;
    --nav:#490707;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    background: var(--btn);
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5px;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    background: var(--nav);
    box-shadow: 0 3px white;
    width: 4cm;
    height: 2lh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin: 0;
    background: #000;
    color: white;
    height: 2lh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
/* extra */
a{
    color: white;
    text-decoration: none;
}
.active-nav{
    box-shadow: 0 0 10px 5px white;
}
